BODY{
	scrollbar-face-color: #DEE3E7;
	scrollbar-highlight-color: #D1D7DC;
	scrollbar-shadow-color: #98AAB1;
	scrollbar-3dlight-color: #ffffff;
	scrollbar-arrow-color: #006699;
	scrollbar-track-color: #EFEFEF;
	scrollbar-darkshadow-color: #EFEFEF;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	overflow-x:auto;
	overflow-y:auto;
	font-size:12px;
	font-family:宋体;
	/*text-align: center;*/
	background-image:url("/newx/images/main_bg.gif");
}

img{
   border:0px;
   }
  
.buttonCSS {
  color:#000000;
  background-color:#D9EAF6;
  text-align:center;
  vertical-align:middle;
  border: 1px solid #0000cc;
}

td {
	font-size: 9pt;
	line-height: 14pt;
}

.glow {
	COLOR: #016B97; TEXT-ALIGN: center;
	background-image: url(/newx/images/menu.jpg); height:34px;WIDTH: 105px;
	background-repeat: no-repeat;
	background-position: center top; 
}
.glow a {	
	COLOR:#016B97; TEXT-ALIGN: center;padding-top: 8px;
	background-image: url(/newx/images/menu.jpg); height:34px;WIDTH: 105px;
	background-repeat: no-repeat;
	background-position: center top; 
}
.glow a:visited {	
	COLOR:#01687A; TEXT-ALIGN: center;
	background-image: url(/newx/images/menu.jpg); height:34px;WIDTH: 105px;
	background-repeat: no-repeat;
	background-position: center top; 
}
.glow a:hover {	
	COLOR:#448462; TEXT-ALIGN: center;blr:expression(this.onFocus=this.blur());
	background-image: url(/newx/images/menu_over.jpg); height:34px;WIDTH: 105px;
	background-repeat: no-repeat;
	background-position: center top; 
}
	
.left_text{
	FONT-SIZE: 9pt;
	COLOR: #006400;text-align: center;height: 20px;
}

.login_input{
    BORDER-RIGHT: #89ACC0 1px solid;
    BORDER-TOP: #89ACC0 1px solid;
    FONT-SIZE: 9pt;
    BORDER-LEFT: #89ACC0 1px solid;
    COLOR: darkblue;
    BORDER-BOTTOM: #89ACC0 1px solid;
    FONT-FAMILY: Arial, 宋体;
}
	
/*单记录表-录入单元格-text录入项*/
.solidborder	{BEHAVIOR: url(/newx/htc/text.htc);	
    BORDER-RIGHT: #999999 1px solid;
    BORDER-TOP: #999999 1px solid;
    BORDER-LEFT: #999999 1px solid;
    COLOR: #000000;
    BORDER-BOTTOM: #999999 1px solid;
    FONT-SIZE: 9pt;	
    FONT-FAMILY: Arial, 宋体;
	width:100%; 
    height:21px; 
    padding-top:5px;
	}
	
/*单记录表-录入单元格-textarea录入项*/	
.solidtextArea	{BEHAVIOR: url(/newx/htc/text.htc);
    BORDER-RIGHT: #6C6D86 1px solid;
    BORDER-TOP: #6C6D86 1px solid;
    FONT-SIZE: 12px;
    BORDER-LEFT: #6C6D86 1px solid;
    COLOR: #000000;
    BORDER-BOTTOM: #6C6D86 1px solid;
    FONT-FAMILY: Arial, 宋体;
    width:100%;

}
	
.solidselect{BEHAVIOR: url(/newx/htc/text.htc);
	font-family: "Verdana", "Arial","新宋体", "宋体"; 
	font-size: 12px; border: 1px solid;
	border-left:hidden;
	border-top:hidden;
	border-right:hidden;
	border-bottom:hidden;
	width:100%;
	height:18px;
}

.solidmulselect{BEHAVIOR: url(/newx/htc/text.htc);
	font-family: "Verdana", "Arial","新宋体", "宋体"; 
	font-size: 12px; border: 1px solid;
	border-left:hidden;
	border-top:hidden;
	border-right:hidden;
	border-bottom:hidden;
	width:100%;
}
/*单记录表-标题单元格*/
.tdprompt	{	
	BORDER-RIGHT: #ccc 1px solid;
	BORDER-BOTTOM: #ccc 1px solid;
	BORDER-TOP: #fff 1px solid;
	BORDER-LEFT: #fff 1px solid;
	text-align: right;
	font-size:9pt;
	padding-top:5px;
	height:20px;
	}
	
/*单记录表-录入单元格*/
.tdinput{	
    font-size:9pt;
	BORDER-RIGHT: #ccc 1px solid;
	BORDER-BOTTOM: #ccc 1px solid;
	BORDER-TOP: #fff 1px solid;
	BORDER-LEFT: #fff 1px solid;
}

/*单记录表-只读的单元格*/
.tdread{
    BORDER-RIGHT: #fff 1px solid;
    BORDER-TOP: #ccc 1px solid;
    FONT-SIZE: 9pt;  
    height:100%;  
    BORDER-LEFT: #ccc 1px solid;
    COLOR: RoyalBlue;
    background:#f7f7f7;
    BORDER-BOTTOM: #fff 2px solid;
    width:100%;
    padding-top:4px;
}

.tdpromptHead	{
	background-color:#BDDFFF;
	height: 20px;text-align: right;padding-right: 5px;width:80px;
	}
.tdselectright	{
	background-color:#BDDFFF;
	height: 20px;text-align: right;
	}
.tabletitle01
	{
	background-image: url(../images/bottom001.gif); 
	background-repeat: no-repeat;
	background-position: center center; 
	height: 25px;width:128px;
	text-align: center;FONT-WEIGHT: bold;
	}
	
/*单记录表-标题*/	
.single_table_title
	{
	width:100%;
	height:28;
	font-size:9pt;
	background-image: url(../images/list_title_bg1.gif);	
	}
	
.tabletitle03
	{
	padding-top: 3px;
	background-image: url(../images/table_bg03.jpg); 
	background-repeat: repeat-x;
	background-position: center bottom; 
	height: 50px;
	text-align: center;
	}
.tabletitle04
	{
	padding-left: 10px;FONT-WEIGHT: bold;
	background-image: url(../images/index_bg01.jpg); 
	background-repeat: repeat-x;height: 20px;
	background-position: center top; 
	
	}
.tabletitle05
	{
	padding-top: 3px;
	background-image: url(../images/table_bg01.jpg); 
	background-repeat: repeat-x;
	background-position: center bottom; 
	height: 22px;padding-left: 25px;
	FONT-WEIGHT: bold;
	}
.tabletitle06
	{
	background-image: url(../images/table_bg04.jpg); 
	background-repeat: repeat-x;
	background-position: center top; 
	}
.indexbg01
	{
	background-image: url(../images/index_bg01.jpg); 
	background-repeat: repeat-x;
	background-position: center bottom; 
	height: 30px;
	}
.indexbg02
	{
	background-image: url(../images/index_bg01.jpg); 
	background-repeat: repeat-x;
	background-position: center bottom; 
	height: 46px;
	}		
.tabbottomright
	{
	background-image: url(../images/tablebottom_right.jpg); 
	background-repeat: no-repeat;
	background-position: right top; 
	height: 22px;
	}	
.tabbottomleft
	{
	background-image: url(../images/tablebottom_left.jpg); 
	background-repeat: no-repeat;
	background-position: left top;
	}	
.tabbottombg
	{
	background-image: url(../images/tablebottom_bg.jpg); 
	background-repeat: repeatx;
	}	
.tabtitleright
	{
	background-image: url(../images/tabletitle_right.jpg); 
	background-repeat: no-repeat;
	background-position: right top; 
	height: 7px;
	}	
.tabtitleleft
	{
	background-image: url(../images/tabletitle_left.jpg); 
	background-repeat: no-repeat;
	background-position: left top;
	}	
.tabtitlebg
	{
	background-image: url(../images/tabletitle_bg.jpg); 
	background-repeat: repeatx;
	}		
.dataTable{		 
	background-color:#EEF1F7;
	BORDER-RIGHT: #D4DBEB 1px solid;
	BORDER-TOP: #D4DBEB 1px solid;
	BORDER-LEFT: #D4DBEB 1px solid;
	BORDER-BOTTOM: #D4DBEB 1px solid;
}

.panelBorder{		 
	background-color:#eef1f7;
}



.tableline{
	BORDER-RIGHT: #5DADE0 1px solid;
	BORDER-TOP: #5DADE0 1px solid;
	BORDER-LEFT: #5DADE0 1px solid;
	BORDER-BOTTOM: #5DADE0 1px solid;
	background-color:#ffffff;
}
/*列表标题样式*/
.list_table_title{	
	background-color:#EEF1F7;
	BORDER-RIGHT: #D4DBEB 1px solid;
	BORDER-TOP: #D4DBEB 1px solid;
	BORDER-LEFT: #D4DBEB 1px solid;
	BORDER-BOTTOM: #D4DBEB 1px solid;
}
/*列表标题单元格样式*/
.list_table_title_td{	
	width:100%;
	height:28;
	font-size:9pt;
	background-image: url(../images/list_title_bg1.gif);
}
/*列表表单样式-整个table*/
.list_table{	
    BORDER-RIGHT: #ADB2C6 1px solid;
	BORDER-TOP: #ADB2C6 1px solid;
	BORDER-LEFT: #ADB2C6 1px solid;
	BORDER-BOTTOM: #ADB2C6 1px solid;
	font-size:9pt;
	background-color:#ADB2C6;	
}
/*列表行标题样式，原版本bTrHead*/
.list_table_thead_tr_title {
	background-color:#FFFFFF;
}
.tableline02{
	BORDER-RIGHT: #5DADE0 1px solid;
	BORDER-TOP: #5DADE0 0px solid;
	BORDER-LEFT: #5DADE0 1px solid;
	BORDER-BOTTOM: #5DADE0 0px solid;
	background-color:#D4E6FF;
}
	
/*列表表头单元格样式*/
.list_table_thead_td_title{
	BORDER-RIGHT: #ADB2C6 1px solid;
	font-size: 9pt;
	text-align:center;
	background-image: url(../images/list_head_bg.gif);
	height:22;
}	

/*列表内容每一行的样式（白）*/	
.list_table_tbody_tr
	{
	font-size: 9pt; 
	text-align: center;  
	background-color: #FFFFFF;
	height:18;
	}
	
/*列表内容每一行的样式（灰）*/		
.list_table_tbody_tr1{
	font-size: 9pt; 
	text-align: center;  
	background-color: #EAEAEA;
	height:18;
}	

/*列表内容每一单元格样式*/
.list_table_tbody_td {
	BORDER-LEFT: #fff 1px solid;
	BORDER-RIGHT: #eee 1px solid;
	FONT-SIZE: 12px;  
	FONT-FAMILY: "Times New Roman", "宋体";
}

/*列表内容每一单元格样式*/
.list_table_tbody_td1{
	BORDER-LEFT: #fff 1px solid;
	BORDER-RIGHT: #eee 1px solid;
	BORDER-TOP: #eee 1px solid;
	FONT-SIZE: 12px;  
	FONT-FAMILY: "Times New Roman", "宋体";
}


/*当鼠标移到列表内容中某一行（白）时的样式*/	
.list_table_tbody_tr_mouseover
	{
	font-size: 9pt; 
	text-align: center;  
	background-color: #FCFCFC;
	height:18;
	}
/*当鼠标移到列表内容中某一行（灰）时的样式*/	
.list_table_tbody_tr1_mouseover
	{
	font-size: 9pt; 
	text-align: center;  
	background-color: #F9F9F9;
	height:18;
	}		
.tdcolor03
	{
	background-color:#F6FAF4;
	height: 20px;
	}

.tdcolor04
	{
	background-color:#BDDFFF;
	height: 20px;text-align: right;padding-right: 5px;width:80px;
	}
.tdcolor05
	{
	background-color:#BDDFFF;
	height: 20px;padding-right: 5px;width:80px;
	}		
thead td{
	background:#7EAFDC;
	font-size: 12px; font-family: "Verdana", "Arial","新宋体", "宋体";font-weight:normal;/*font-weight:bold;*/
	vertical-align:bottom;
	cursor: default; padding-top: 1px; padding: bottom: 1px;
	height: 20px;
}

thead .arrow{
	font-family: webdings; color: black; padding: 0; font-size: 10px;
	height: 11px; width: 10px; overflow: hidden;
	margin-bottom: 2; margin-top: -3; padding: 0; padding-top: 0; padding-bottom: 2;
}

.input001
	{
	BORDER-RIGHT: #5DADE0 0px solid;
	BORDER-TOP: #5DADE0 0px solid;
	BORDER-LEFT: #5DADE0 0px solid;
	BORDER-BOTTOM: #5DADE0 1px solid;
	background-color:#fFf;height: 15px;width:120px;
	}
.input002
	{
	background-color:#f8F8f8;height: 15px;
	}

.buttonLinkGo{
    border:0;
	background-image: url(../images/bottombg004.gif); 
	background-repeat: no-repeat;
	background-position: center center; 
	height: 21px;width:50px;
	text-align: center;
	BORDER-RIGHT: #5DADE0 0px solid;
	BORDER-TOP: #5DADE0 0px solid;
	BORDER-LEFT: #5DADE0 0px solid;
	BORDER-BOTTOM: #5DADE0 0px solid;
	}
.50pageon {
	height: 24px;
	width: 50px;
	cursor: hand;
	background-image: url(../images/50pageon.gif);
}
.50pageoff {
	height: 24px;
	width: 50px;
	cursor: hand;
	background-image: url(../images/50pageoff.gif);
}
.60pageon {
	height: 24px;
	width: 60px;
	cursor: hand;
	background-image: url(../images/60pageon.gif);
}
.60pageoff {
	height: 24px;
	width: 60px;
	cursor: hand;
	background-image: url(../images/60pageoff.gif);
}
.70pageon {
	height: 24px;
	width: 70px;
	cursor: hand;
	background-image: url(../images/70pageon.gif);
}
.70pageoff {
	height: 24px;
	width: 70px;
	cursor: hand;
	background-image: url(../images/70pageoff.gif);
}
.80pageon {
	height: 24px;
	width: 80px;
	cursor: hand;
	background-image: url(../images/80pageon.gif);
}
.80pageoff {
	height: 24px;
	width: 80px;
	cursor: hand;
	background-image: url(../images/80pageoff.gif);
}
.90pageon {
	height: 24px;
	width: 90px;
	cursor: hand;
	background-image: url(../images/90pageon.gif);
}
.90pageoff {
	height: 24px;
	width: 90px;
	cursor: hand;
	background-image: url(../images/90pageoff.gif);
}
.100pageon {
	height: 24px;
	width: 100px;
	cursor: hand;
	background-image: url(../images/100pageon.gif);
}
.100pageoff {
	height: 24px;
	width: 100px;
	cursor: hand;
	background-image: url(../images/100pageoff.gif);
}

.110pageon {
	height: 24px;
	width: 110px;
	cursor: hand;
	background-image: url(../images/110pageon.gif);
}
.110pageoff {
	height: 24px;
	width: 110px;
	cursor: hand;
	background-image: url(../images/110pageoff.gif);
}
.120pageon {
	height: 24px;
	width: 120px;
	cursor: hand;
	background-image: url(../images/120pageon.gif);
}
.120pageoff {
	height: 24px;
	width: 120px;
	cursor: hand;
	background-image: url(../images/120pageoff.gif);
}
.130pageon {
	height: 24px;
	width: 130px;
	cursor: hand;
	background-image: url(../images/130pageon.gif);
}
.130pageoff {
	height: 24px;
	width: 130px;
	cursor: hand;
	background-image: url(../images/130pageoff.gif);
}
.140pageon {
	height: 24px;
	width: 140px;
	cursor: hand;
	background-image: url(../images/140pageon.gif);
}
.140pageoff {
	height: 24px;
	width: 140px;
	cursor: hand;
	background-image: url(../images/140pageoff.gif);
}
.150pageon {
	height: 24px;
	width: 150px;
	cursor: hand;
	background-image: url(../images/150pageon.gif);
}
.150pageoff {
	height: 24px;
	width: 150px;
	cursor: hand;
	background-image: url(../images/150pageoff.gif);
}
.160pageon {
	height: 24px;
	width: 160px;
	cursor: hand;
	background-image: url(../images/160pageon.gif);
}
.160pageoff {
	height: 24px;
	width: 160px;
	cursor: hand;
	background-image: url(../images/160pageoff.gif);
}



.tree_branch{
	FONT-SIZE: 9pt;
	cursor: hand;text-align: center;height: 20px;
}

.mouseon {
	CURSOR: default; COLOR: #ffffff; BACKGROUND-COLOR:#808080;  /*BACKGROUND-COLOR: #508cff*/
}

/*列表表分页信息样式*/
.list_table_pageSplitInfo{
    font-size: 9pt;
    text-align:center;
    background-color:#F1F1F1;
}
/*按钮*/
.bottom_1{
	FONT-SIZE: 12px;color:#5E78BD;padding-top:4px;word-spacing:6px;/*letter-spacing:10pt;*/
	FONT-FAMILY: Arial, 宋体;
	height:20px;width:75px;text-align:center;
	background-image:url("../images/bottom.gif");
	background-repeat: no-repeat;
	background-position: center center; 
	}
	
/*普通按钮*/	
a:link{
    font-size:9pt;
    color:#006A73;
    text-decoration:none;
}
a:visited{
    font-size:9pt;
    color:#006A73;
    text-decoration:none;
}
a:active{
    font-size:9pt;
    color:#006A73;
    text-decoration:none;
}
a:hover{
    font-size:9pt;
    color:#00872F;
    text-decoration:none;
}



/*效果按钮*/
a.buttonLink{
    BEHAVIOR: url(/newx/htc/buttonEffect.htc);
    display:inline-block;
	TEXT-DECORATION: none;
	padding-top:4px;word-spacing:6px;
	height:20px;
    width:75px;
    text-align:center;
	background-image:url("../images/bottom.gif");
	background-repeat: no-repeat;
	background-position: center center; 	
	}
a.buttonLink:link {
	color:#5E78BD;TEXT-DECORATION: none;
	}
a.buttonLink:visited{
	COLOR: #5E78BD;TEXT-DECORATION: none; 
	}
a.buttonLink:active{
	COLOR: #5E78BD;TEXT-DECORATION: none;
	}
a.buttonLink:hover{
	COLOR: #003AA3;TEXT-DECORATION: none;
	}
	
/*leaf 99控件,目前只用到date和回车*/
.mask {
    BEHAVIOR: url(/newx/htc/EAFformat.htc);
	OVERFLOW: hidden ;border: 1px #B7B7B7 solid;
	font-family: "宋体",font-size: 12px; Helvetica, sans-serif;
	width: 100%;word-wrap:normal;
	word-wrap : break-word ;
	word-break : keep-all ;
	overflow:hidden;	border: 1px #B7B7B7 solid;
	padding-top:5px;
}
buttonLink {
    BEHAVIOR: url(/newx/htc/buttonEffect.htc);
    display:inline-block;
	TEXT-DECORATION: none;
	padding-top:4px;word-spacing:6px;
	height:20px;
    width:75px;
    text-align:center;
	background-image:url("../images/bottom.gif");
	background-repeat: no-repeat;
	background-position: center center;
}
.tdprompt1 {

	BORDER-RIGHT: #ccc 1px solid;
	BORDER-BOTTOM: #ccc 1px solid;
	BORDER-TOP: #fff 1px solid;
	BORDER-LEFT: #fff 1px solid;
	text-align: center;
	font-size:9pt;
	padding-top:5px;
	height:20px;
}
/*平常的状态*/
.link_normal{
    font-size:9pt;
	font-family:宋体;
	color:#006A73;
    text-decoration:none;
    cursor:pointer;
}
/*连接被按下的时候 */
.link_hover{
	COLOR: #00872F; 
    font-size:9pt;
    font-family:宋体;
    text-decoration:none;
    cursor:pointer;
}
